@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Space+Grotesk:wght@400&display=swap');
@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  background-image: url(/Images/byteforce-bg.jpg);
  background-position: center;
  background-size: contain;
}
header {
  transition: .5s;
}
.header-sticky {
  transition: .5s;
  background-color: white;
  padding-block: 1rem;
}
.curved-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: scaleX(2);
  z-index: -1;
}
.curved-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  transform: scaleX(2);
  z-index: -1;
}